<div class="ui segment" id="device_logs_table">
    <table class="ui celled striped table">
        <thead>
            <tr>
                <th colspan="4">
                    Logs for {{device.brand}} {{device.model}}, code name: "{{device.codeName}}"
                </th>
            </tr>
            <tr>
                <th colspan="1">
                    User
                </th>
                <th colspan="1">
                    Taken at
                </th>
                <th colspan="1">
                    Returned at
                </th>
                <th colspan="1">
                    Returned
                </th>
            </tr>
        </thead>
        <tbody>
            {{#if parsedLogs}}
                {{#parsedLogs}}
                <tr>
                    <td>{{user}}</td>
                    <td>{{takenWhen}}</td>
                    <td>{{returnedWhen}}</td>
                    <td>{{returned}}</td>
                </tr>
                {{/parsedLogs}}
            {{else}}
                <tr>
                    <td colspan="4" style="text-align: center;">This device has no logs yet :(</td>
                </tr>
            {{/if}}

        </tbody>
    </table>
    <a href='/devices'>
        <button class="ui button primary" type="button" id="go_back">Go Back to Devices</button>
    </a>
</div>