{{!-- 'ARE YOU SURE YOU WANT TO TAKE THIS DEVICE FROM OTHER USER?' MODAL--}}
<div id="retake_modal" class="ui basic modal">
    <div class="ui icon huge header">
        <i class="warning sign icon"></i> You're about to retake this device from other QA
    </div>
    <div class="content">
        <p>Does other QA (current owner) know about this?</p>
    </div>
    <div class="actions">
        <div id="retake_yes_button" class="ui green ok inverted huge button">
            <i class="checkmark icon"></i> Yeap
        </div>
        <div id="retake_no_button" class="ui red basic cancel inverted huge button">
            <i class="remove center icon"></i> Nope
        </div>
    </div>
</div>


{{!-- DEVICES MENU (ANDROID/APPLE/BROWSERSTACK) --}}
<div id="top_menu">
  <div class="ui three item menu">
    <a class="active item green">
      <i class="android icon"></i>
      Android
    </a>
    <a class="item green">
      <i class="apple icon"></i>
      iOS
    </a>
    <a class="item green">
      <i class="desktop icon"></i>
      BrowserStack
    </a>
  </div>
</div>

{{!-- DEVICES TABLE --}}
<div class="container table-container">
    <table class="ui celled table fixed green selectable">
        <thead>
            <tr>
                <th class="one wide center aligned">ID</th>
                <th class="two wide center aligned">Brand</th>
                <th class="two wide center aligned">Model</th>
                <th class="two wide center aligned">OS Version</th>
                <th class="four wide center aligned">Additional Notes</th>
                <th class="two wide center aligned">Status</th>
                <th class="three wide center aligned">Taken By:</th>
            </tr>
        </thead>
        <tbody>
            <!-- Populated with './js/devices.js', structure as follows:
                <tr id="{{deviceIndex}}">
                    <td>{{id}}</td>
                    <td>{{model}}</td>
                    <td>{{androidVersion}}</td>
                    <td>{{notes}}</td>
                    <td>{{status}}</td>
                    <td>{{takenBy}}</td>
                </tr>
            -->
        </tbody>
    </table>
</div>

{{!-- SOCKETS IO --}}
<script src="/socket.io/socket.io.js"></script>

{{!-- JQUERY --}}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

{{!-- SEMANTIC UI --}}
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

{{!-- JS POPULATING DECIVES TABLE AND TABLE EVENTS --}}
<script src="./js/devices.js"></script>
