<div class="device-form">
    <div class="ui segment" id="edit_device_form">
        <div>
            <form class="ui form">
                <h4 class="ui dividing header">Edit Device: {{device.codeName}} </h4>
                <div class="field" id="deviceForm" device-id="{{device._id}}">
                    <label>General info</label>
                    <div class="three fields">
                        <div class="field">
                            <input id="codeName" type="text" placeholder="Device ID..." value="{{device.codeName}}" name="codeName">
                        </div>
                        <div class="field">
                            <input id="brand" type="text" placeholder="Device brand..." value="{{device.brand}}" name="brand">
                        </div>
                        <div class="field">
                            <input id="model" type="text" placeholder="Device model..." value="{{device.model}}" name="model">
                        </div>
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" id="location" name="location" value="{{device.location}}">
                                <i class="dropdown icon"></i>
                                <div class="default text">Location</div>
                                <div class="menu">
                                    <div class="item" data-value="Global">Global</div>
                                    <div class="item" data-value="Bialystok">Bialystok</div>
                                    <div class="item" data-value="Poznan">Poznan</div>
                                    <div class="item" data-value="Warsaw">Warsaw</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="field">
                    <label>OS Specific Informations and Details</label>
                    <div class="fields">
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="osType" value="{{device.osType}}">
                                <i class="dropdown icon"></i>
                                <div class="text default">OS</div>
                                <div class="menu">
                                    <div class="item" data-value="ios">ios</div>
                                    <div class="item" data-value="android">android</div>
                                    <div class="item" data-value="other">other</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="deviceType" value="{{device.deviceType}}">
                                <i class="dropdown icon"></i>
                                <div class="text default">Device Type</div>
                                <div class="menu">
                                    <div class="item" data-value="phone">phone</div>
                                    <div class="item" data-value="tablet">tablet</div>
                                    <div class="item" data-value="other">other</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <input id="osVersion" type="text" placeholder="OS Version" value="{{device.osVersion}}" name="osVersion">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="">Additional Informations / Notes</label>
                    <input id="notes" type="text" placeholder="Currently assigned to..." value="{{device.notes}}" name="notes">
                </div>
                <button class="ui primary button submit" type="button" id="save_changes_button">Save Changes</button>
                <button class="ui button" type="button" id="go_back">Go Back to Devices</button>
                <button class="ui button" type="button" id="redirect_to_logs">Check Logs</button>
            </form>
        </div>
    </div>
</div>


{{!-- JQUERY --}}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script> {{!-- SEMANTIC UI --}}
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/js/editDevice.js"></script>